# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore data files
*.nii
*.nii.gz
*.csv
*.tsv
*.h5
*.jsonl

# Ignore machine learning model checkpoints and logs
*.ckpt
*.hdf5
*.pb
*.pt
*.pth
*.onnx
*.joblib
*.pkl
*.sav
*.npy
*.npz

# Ignore TensorBoard logs
logs/
events.out.tfevents.*

# Ignore large data archives
*.tar
*.tar.gz
*.zip
*.rar
*.7z

# Ignore temporary files
*.tmp
*.temp
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore user-specific files
*.swp
*.swo
*.bak
*.orig
*.~*
